.built-dashboard-header {
    background-color: $white;
    box-shadow: 0 1px 0 rgba(213, 213, 213, .5), 0 1px 2px #eeeeee;
    padding: 1rem 0.75rem;
    margin-bottom: 3rem;
    margin-left: -2em;

    &__title {
        margin-left: 1rem;

        .sub-title {
            padding-top: 5px;
        }
    }

    &__icon {
        .dashicons {
            height: 28px;
            width: 28x;
            font-size: 28px;
            color: #acb1c8;
        }
        svg {
            height: 36px;
            width: 36px;
            fill: #acb1c8;
        }
    }

    .built-wrap {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

}