



    .built-wrap {
        position: relative;
        margin: 0 auto;
        max-width: 860px;
        padding-right: 1.25rem;
    }
    
    
    
    .built-grid {
        display: grid;
        gap: 0 1.5rem;
        width: 100%;
    
        &--has-1 {
            grid-template-columns: repeat(1, 1fr);
        }
    
        &--has-2 {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
    .grid-fill {
        width: 100%;
    }
    
    
    .built-card {
        background-color: rgb(255, 255, 255);
        color: rgb(30, 30, 30);
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
        outline: none;
        border-radius: calc(1px);
        padding: calc(16px) calc(24px);
        margin-bottom: 1.5rem;
    
        h2 {
            color: #1d2327;
            font-size: 1.3em;
            margin: 1em 0;
        }
    
        .components-button {
            margin-top: 0.5rem;
            margin-bottom: 0.75rem;
        }
    }
    
    
    .component-is-hidden {
        display: none;
    }
    
    .components-panel {
        background: none;
        border: none;
        width: 100%;
    }
    
    .panel-description {
        margin-bottom: 1.5rem;
    }
    
    .components-card {
       margin-bottom: 1.5rem;
       width: 100%;
    }
    
    .built-save-button {
        margin-top: 1.5rem;
    }
    
    .components-flex-block {
        align-self: stretch;
        display: flex;
    }
    
    .components-panel__body {
        background: #ffffff;
        border: 1px solid #e2e4e7;
        margin: 0;
    }
    
    .components-panel__body-title {
        button {
            font-size: 16px;
        }
    }
    
    .components-divider {
        opacity: 0.35;
    }
    
    .components-panel__row {
        align-items: flex-start;
    }
    
    .components-panel__row > div {
        flex-grow: 1;
        margin-right: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }
    
    .components-panel__row:not(.business-hours) > div,
    .components-panel__row:not(.business-hours) > p {
            width: 100%;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            &:last-child {
                margin-right: 0;
            }
        }
    
    
        .components-snackbar-list__notice-container {
            position: fixed;
        }
    
        .built-admin__notices .components-snackbar {
            bottom: 0.5rem;
            position: fixed;
            right: 2rem;
            bottom: 2rem;
          }
    
          .built-save-button {
            margin-top: 1.5rem;
            margin-bottom: 3rem;
          }
    
    
    
    
      .components-text-control__input,
        .components-text-control__input[type="color"],
        .components-text-control__input[type="date"],
        .components-text-control__input[type="datetime-local"],
        .components-text-control__input[type="datetime"],
        .components-text-control__input[type="email"],
        .components-text-control__input[type="month"],
        .components-text-control__input[type="number"],
        .components-text-control__input[type="password"],
        .components-text-control__input[type="tel"],
        .components-text-control__input[type="text"],
        .components-text-control__input[type="time"],
        .components-text-control__input[type="url"],
        .components-text-control__input[type="week"] {
            padding: 10px;
        }
    
    
    