/*
------------------------------------------------------------------
Brand Settings

@package BuiltNorthWPAdminDashboard
@since BuiltNorthWPAdminDashboard 1.1.0
------------------------------------------------------------------
*/

.brand-settings {
    .upload-container {
        display: flex;
        flex-direction: column;
        align-items: self-end;
        width: 100%;
    }

    .favicon-flexblock {
        justify-content: flex-end;
    }

    .colors-flexblock {
        align-items: center;
    }

    .image-wrap {
        border: 1px dashed var(--color--border-gray);
        background-color: var(--color--base);
        //border-radius: 6px;
        margin-bottom: 1.25rem;
        padding: 1.25rem;

        &--logo {
            width: calc(100% - 72px);
        }

        &--favicon {
            aspect-ratio: 1;
            width: 82px;
            display: flex;
            align-items: center;
        }
    }

    .logo-title {
        margin-top: 1rem;
    }

    .logo-placeholder {
        aspect-ratio: 21/10;
    }
    .favicon-placeholder {
        aspect-ratio: 1;
    }
}
