/*
------------------------------------------------------------------
Brand Settings

@package BuiltNorthWPAdminDashboard
@since BuiltNorthWPAdminDashboard 1.1.0
------------------------------------------------------------------
*/

.brand-settings {

            .upload-container {
                display: flex;
                flex-direction: column;
                align-items: self-end;
                width: 100%;
            }

            .favicon-flexblock {
                justify-content: flex-end;
            }

            .colors-flexblock {
                align-items: center;
            }

            .image-wrap {
                border: 2px dashed #d7d7dd;
                border-radius: 6px;
                margin-bottom: 16px;

                &--logo {
                    padding: 36px;
                    width: calc(100% - 72px);
                }

                &--favicon {
                    aspect-ratio: 1;
                    width: 82px;
                    padding: 24px;
                    display: flex;
                    align-items: center;
                }

            }

            .logo-title {
                margin-top: 1rem;
            }

            .logo-placeholder {
                min-height: 100px;
                width: 100%;
            }
            .favicon-placeholder {
                height: 100%;
            }
        }