/*
------------------------------------------------------------------
Business Hours

@package BuiltNorthWPAdminDashboard
@since BuiltNorthWPAdminDashboard 1.0.0
------------------------------------------------------------------
*/

.polaris-dashboard-panel--hours-settings {
    .components-panel__row {
        padding-bottom: 0.75rem;
    }

    .components-panel__row > div {
        margin-left: 0;
        margin-right: 0;
    }

    .business-hours {
        align-items: center;
        position: relative;
        padding-bottom: 0.75rem;
        padding-top: 0.75rem;

        &:after {
            content: "";
            border-top: 1px dashed var(--color--border-gray);
            position: absolute;
            width: 100%;
            top: -5px;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
        &:first-child {
            &:after {
                display: none;
            }
        }

        &__time-group {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: 0 !important;
        }

        &__day {
            min-width: 80px;
            font-weight: 600;
        }

        &__time {
            width: 80px;
        }

        &__am-pm {
            width: 60px;
        }

        &__dash {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        .components-toggle-control {
            padding-left: 1rem;
        }
    }
}
