/*
------------------------------------------------------------------
Main Styles for BuiltNorthWPAdminDashboard
@package BuiltNorthWPAdminDashboard
@since BuiltNorthWPAdminDashboard 1.0.0
------------------------------------------------------------------
*/

// Global Styles
img {
    width: 100%;
    height: auto;
}

// Utility Classes
.component-is-hidden {
    display: none;
}

.grid-fill {
    width: 100%;
}

// Loading Spinner
.built-loading {
    margin: 100px;
    text-align: center;

    .components-spinner {
        display: block;
        margin: 20px auto;
        height: 50px;
        width: 50px;
    }
}

// Wrapper
.built-wrap {
    position: relative;
    margin-left: 50px;
    max-width: 1320px;
    margin-right: 75px;
    width: auto;

    @media only screen and (max-width: 1000px) {
        margin-left: 15px;
        margin-right: 25px;
    }
}

// Grid System
.built-grid {
    display: grid;
    gap: 0 1.5rem;
    width: 100%;

    &--has-1 {
        grid-template-columns: repeat(1, 1fr);
    }

    &--has-2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

.polaris-dashboard-grid {
    &--has-3 {
        @media only screen and (max-width: 1400px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media only screen and (max-width: 1000px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

// Card Styles
.built-card {
    background-color: #fff;
    color: #1e1e1e;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
    border-radius: 1px;
    padding: 16px 24px;
    margin-bottom: 1.5rem;

    h2 {
        color: #1d2327;
        font-size: 1.3em;
        margin: 1em 0;
    }

    .components-button {
        margin: 0.5rem 0 0.75rem;
    }
}

// Panel Styles
.components-panel {
    background: none;
    border: none;
    width: 100%;
    margin-bottom: 1.5rem;
}

.panel-description {
    margin-bottom: 1.5rem;
}

.components-card {
    margin-bottom: 1.5rem;
    width: 100%;
}

.components-flex-block {
    align-self: stretch;
    display: flex;
}

.components-panel__body {
    background: #fff;
    border: 1px solid #e2e4e7;
    margin: 0;
}

.components-panel__body-title {
    button {
        font-size: 16px;
    }
}

.components-divider {
    opacity: 0.15;
}

.components-panel__row {
    align-items: flex-start;

    > div {
        flex-grow: 1;
        margin: 0.5rem 1rem 0.5rem 0;
    }

    &:not(.business-hours) {
        > div,
        > p {
            width: 100%;
            margin: 0.5rem 0;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

// Dashboard Block
.polaris-dashboard-block {
    margin-bottom: 0;
    padding-bottom: 1rem;

    > div {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 1rem;
        margin: 0;
    }

    &__icon {
        fill: var(--color--light-gray);
    }

    &__description {
        margin-bottom: auto;
    }

    &__link-list {
        padding-top: 0;
        .link-list__item svg {
            margin-left: 4px;
            height: 21px;
            width: 21px;
        }
    }
}

// Dashboard Panel
.polaris-dashboard-panel {
    .components-panel__body {
        &.is-opened {
            padding-bottom: 2rem;
        }
        .components-panel__body-toggle {
            padding: 1.25rem 1rem 1.25rem 2rem;
            font-size: 16px;
            .components-panel__arrow {
                right: 1rem;
            }
        }
        .components-panel__row {
            padding: 0 1em 0 1rem;
            gap: 20px;
        }
        &-title {
            margin-bottom: 0.75rem;
        }
        h3 {
            font-size: 14px;
        }
    }
}

// Tab Panel
.built-tab-panel {
    padding-top: 2rem;

    .components-tab-panel__tabs .built-tab {
        margin-right: 1.25rem;
        padding-bottom: 0.5rem;
        font-size: 12px;
    }

    .built-tab {
        height: auto;
        flex-direction: column;
        display: flex;
        padding: 0 0 0.5rem 0;

        &.is-active-tab:after {
            height: 3px;
        }
    }

    .components-tab-panel__tab-content {
        //border-top: 1px solid #e2e4e7;
        padding-top: 2rem;
        position: relative;
    }
}

// Save Button
.built-save-button {
    margin: 1.5rem 0 3rem;
    position: absolute;
    right: 0;
    .message {
        padding: 0 15px;
        position: relative;
        top: 9px;
        &.update-failed {
            color: #810f0f;
        }
    }
}

// Form Controls
.components-text-control__input,
.components-text-control__input[type="color"],
.components-text-control__input[type="date"],
.components-text-control__input[type="datetime-local"],
.components-text-control__input[type="datetime"],
.components-text-control__input[type="email"],
.components-text-control__input[type="month"],
.components-text-control__input[type="number"],
.components-text-control__input[type="password"],
.components-text-control__input[type="tel"],
.components-text-control__input[type="text"],
.components-text-control__input[type="time"],
.components-text-control__input[type="url"],
.components-text-control__input[type="week"] {
    padding: 10px;
}

.is-page-select-button {
    margin-top: 32px;
}

// Info Notice
.built-info-notice {
    background: #f0f0f0;
    border: none;
}

.built-message {
    padding-bottom: 15px;
}

// Inline List Control
.inline-list-control {
    .components-flex {
        flex-direction: unset;
        gap: 12px;
        justify-content: flex-start;
    }
}

// SEO Panel
.built-seo-panel {
    .components-panel__row > div {
        width: 100%;
    }
}

.components-divider {
    opacity: 0.15;
}

// Business Hours
.business-hours {
    min-height: 70px;
    align-items: center;

    &__time-group {
        margin-top: 0;
        margin-bottom: 0;
    }

    &__day {
        min-width: 120px;
        font-weight: 500;
    }

    &__time {
        width: 75px;
    }

    &__am-pm {
        width: 55px;
    }

    &__dash {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .components-toggle-control {
        margin-bottom: 0.25rem;
    }
}

// Icon Wrap
.icon-wrap {
    background-color: #f0f0f1;
    line-height: 0;
    border-radius: 3px;
    display: block;
    svg {
        line-height: 0;
        padding: 4px;
        fill: #8a8b95;
    }
    &:hover {
        background-color: var(--wp-admin-theme-color);
        svg {
            fill: #fff;
        }
    }
}

// Dashboard Welcome
.polaris-dashboard-welcome {
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__title {
        display: flex;
        align-items: center;
        h2 {
            font-size: 1.25rem;
            line-height: 1.125;
            color: #666e73;
            span {
                font-size: 2rem;
                text-transform: capitalize;
                //color: var(--wp-admin-theme-color);
                color: #1d2327;
                display: block;
            }
        }
        img {
            margin-right: 1rem;
            width: 76px;
            height: 76px;
            border-radius: 999px;
            background: #fff;
            padding: 3px;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.075);
        }
    }
    &__actions {
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex-flow: column;
    }
}

.button {
    &__setup-wizard {
        margin-top: 3rem;
        color: var(--color--medium-gray);
    }
}

// Integrations & Tools
.integration {
    margin-bottom: 0;

    &__logo {
        max-height: 32px;
        max-width: 32px;
    }
}

// Privacy & Accessibility
.privacy,
.accessibility {
    &__or {
        text-transform: uppercase;
        margin-top: 38px;
        padding: 0 28px 0 10px;
    }

    &__button {
        margin-top: 30px;
    }
}

// Page Select
.is-page-select {
    align-items: flex-start;
    &-button {
        margin-top: 32px;
    }
}
