/*
------------------------------------------------------------------
Social Media

@package BuiltNorthWPAdminDashboard
@since BuiltNorthWPAdminDashboard 1.1.0
------------------------------------------------------------------
*/

.social-media {
    &__icon {
        position: relative;
        right: -21px;
        bottom: -9px;
        svg {
            fill: #a9a9ae;
            background-color: var(--color-white);
            border: 1px solid #949494;
            height: 26px;
            max-width: 30px;
            padding: 0 10px;
        }
    }
}
