
/*
------------------------------------------------------------------
CSS Variables

@package BuiltNorthWPAdminDashboard
@since BuiltNorthWPAdminDashboard 1.0.0
------------------------------------------------------------------
*/


body {

	/* Typography */
	--base-font: 18px;

    /* Color */
    --color--white: #fff;
    --color--light-gray: #a9a9ae;

}