/*
------------------------------------------------------------------
CSS Variables

@package BuiltNorthWPAdminDashboard
@since BuiltNorthWPAdminDashboard 1.0.0
------------------------------------------------------------------
*/

body {
    /* Typography */
    --base-font: 18px;

    /* Color */
    --color--white: #fff;
    --color--base: #f0f0f0;
    --color--light-gray: #a9a9ae;
    --color--medium-gray: #71748e;
}
