/*
------------------------------------------------------------------
CSS Variables

@package BuiltNorthWPAdminDashboard
@since BuiltNorthWPAdminDashboard 1.0.0
------------------------------------------------------------------
*/

body {
    /* Typography */
    --base-font: 18px;

    /* Color */
    --color--white: #fff;
    --color--base: #fafafb;
    --color--primary: var(--wp-admin-theme-color);
    --color--light-gray: #eeefef;
    --color--medium-gray: #8f9eac;
    --color--dark-gray: #101632;
    --color--border-gray: #bec6ce;
}
